@tailwind base;
@tailwind components;
@tailwind utilities;

body{
scroll-behavior: smooth;
}
/* Set scrollbar width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Style scrollbar track */
::-webkit-scrollbar-track {
  background-color: #331906;
}

/* Style scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: grey;
  cursor: grab;
}